<!-- snippets/featured-link.liquid -->

{% comment %}
	Required:
		link {Object|String} Either a link with an associated object, or a simple URL

	Optional:
		title {String} The title of the link. Falls back to the title of the object.
		image {Object} The image to use for the link. Falls back to the image of the object.
{% endcomment %}

{% liquid 
	assign object = link.object
	assign title = title | default: object.title 
	assign image = image | default: object.image | default: object.featured_image
%}

<div class="featured-link">

	{% if image != blank %}
		{% render 'image', image: image, picture_class: 'featured-link__image' %}
	{% else %}
		<div class="featured-link__placeholder">
			{% render 'logo' %}
		</div>
	{% endif %}

	<a href="{{ link.url }}"  class="featured-link__link">
		<span class="featured-link__cta">
			{{ title }}
		</span>
	</a>

</div>