<!-- snippets/skip-links.liquid -->

{% comment %}
	Required:
		nothing
{% endcomment %}

<nav aria-label="Skip Links">
	<ul>
		<li>		
			<a class="skip-link btn btn--primary" href="#MainContent">Skip Navigation</a>
		</li>
	</ul>
</nav>