<!-- snippets/theme-overlays.liquid -->

{% comment %}
	Required:
		Nothing

	Notes: This snippet includes all theme-level overlays
	that should be included on every page.
{% endcomment %}

<div class="overlay" aria-hidden="true" id="underHeaderOverlay"></div>
<div class="overlay overlay--mobile-menu" aria-hidden="true" id="mobileMenuOverlay"></div>
<div class="overlay overlay--above-header" aria-hidden="true" id="aboveHeaderOverlay"></div>
<div class="overlay overlay--above-modals" aria-hidden="true" id="aboveModalsOverlay"></div>