<!-- sections/account-reset-password.liquid -->

{%- liquid 
    assign title = "Reset Your Password"
    assign description = "Enter a new password for " | append: email
    assign call_to_action = "Update Password"
-%}

<h1 class="sr-only">Reset Password</h1>

<div class="account-login section container">

	<section class="account-login__section">
        <header class="account-login__header">

			<h2 class="account__heading">{{ title }}</h2>

			<p class="rte">
				{{ description }}
			</p>
		</header>

		{% form "reset_customer_password", class: "account__form" %}
			{% liquid 
				assign errors = form.errors
			%}

			{% comment %}
				Error Message
			{% endcomment %}

			{% if form.errors %} 
				{% render 'form-message-errors', errors: errors %}
			{% endif %}

			{% comment %}
				Form
			{% endcomment %}

			<div class="input-group input-password{% if errors contains 'password' %} input-group--error{% endif %}">
				<label for="reset-password">Password</label>

				<div class="password-wrapper">
					<input type="password" id="reset-password" class="input" name="customer[password]" autocomplete="new-password" value="" {% if errors contains 'password' %} aria-invalid="true"{% endif %} />
					<button type="button" class="btn input-password__reveal js-password-reveal">
						<span class="sr-only">Toggle Password Visibility</span>
					</button>
				</div>
			</div>

			<div class="input-group input-password{% if errors contains 'password_confirmation' %} input-group--error{% endif %}">
				<label for="reset-password-confirmation">Password Confirmation</label>

				<div class="password-wrapper">
					<input type="password" id="reset-password-confirmation" class="input" name="customer[password_confirmation]" autocomplete="new-password" value="" {% if errors contains 'password_confirmation' %} aria-invalid="true"{% endif %} />
					<button type="button" class="btn input-password__reveal js-password-reveal">
						<span class="sr-only">Toggle Password Visibility</span>
					</button>
				</div>
			</div>

			<button type="submit" class="btn btn--primary">
				{{ call_to_action }}
			</button>
		{% endform %}
	</section>
		
</div>
